#imgDiv{
    text-align: center;
    align-content: center;
left: 100px;
border-style: solid;
border-color: brown;
background-color: burlywood;

    
    
}

img{
    align-items: center;
    
}

body{
    background-color: cornsilk;
}
ul{
    text-align: left;
}
ul li{
    display:inline-flex;
   
    text-align: left;
    margin-left: 50px;
   
}
#lowerDiv{
    text-align: left;
   
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: indianred;
}
h3{
    color: indianred;
    font-weight:bold; 
  

}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 #lowerDiv {
    color: brown;
    font-family:'Tangerine', serif;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
}
#upperDiv
{
    color: brown;
}
ol li{
    color: brown;
}


td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    border: 1px solid black;
  }
  th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
    text-align: left;
    border: 1px solid black;
  }
 
  table{
    width:100%;
    border: 1px solid black;
  }
  header{
      display: grid;
      grid-template-columns: auto auto;
      width: 100%;
  }

  fieldset {
    background-color:cornsilk ;
    margin-bottom: 20px;
    
  }
  
  legend {
    
    color: brown;
    padding: 5px 10px;
  }
  
  input {
    margin: 5px;
  }
  label{
    color: brown;

  }
  .button {
    background-color:brown; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  section{
    display: grid;
    grid-template-columns: auto auto;
    color: brown;
  }